body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tmdb-primary-text {
  color: #01d277;
}

.tmdb-secondary-text {
  color: #081c24;
}

.tmdb-primary-bg {
  background-color: #01d277;
}

.tmdb-secondary-bg {
  background-color: #081c24;
}